@mixin flex($justify:flex-start, $align:flex-start, $wrap:nowrap, $direction:row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}
@mixin bg($size:cover, $repeat:no-repeat, $position:center) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}
$br: 10px;
$maincolor: #FA0044;
$mainlighten: lighten($maincolor, 10%);
$maindarken: darken($maincolor, 25%);
